body{
	width: 1000px;
	margin: auto;
	background: #FFFFFF;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	color: white;
}
body a{
	cursor: pointer;
	color: white;
	text-decoration: none;
	text-align: center;
}
header{
	width: 1000px;
	height: 600px;
	background-image: url("img/background_header.svg");
	font-weight: 500;
	line-height: 14px;
	font-size: 12px;
}
header ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;	
}
header li{
	margin-left: 40px;
} 
.top-bar{
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-top: 26px;
	padding-right: 92px;
}
.contact{
	width: 90px;
	height: 34px;
	display: block;
  	background-color: #FFFFFF;
  	color: #606B74;
  	text-align: center;
  	line-height: 2.75;
  	text-decoration: none;
  	cursor: pointer;
  	border-radius: 4px;
}
.header-info{
	width: 900px;	
	display: inline-flex;
	padding-left: 100px;
}
.text-header{
	width: 420px;
	height: 183px;
	padding-top: 117px;
}
.sus-tiny-houses{
	font-size: 16px;
	line-height: 19px;
}
.eco-tiny-houses{
	font-family: Merriweather, sans-serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 38px;
	padding-top: 12px;
}
.movie-watch{
	width: 250px;
	height: 100px;
	padding-left: 135px;
	padding-top: 175px;
	display: inline-flex;
}
.play-button, .movie-watch > span{
	cursor: pointer;
}
.movie-watch > img{
	width: 75px;
	height: 75px;
}
.movie-watch > span{
	position: absolute;
	padding-left: 65px;
	padding-top: 30px;
}
.social{
	width: 250px;
    position: relative;
	left: 840px;
    top: 235px;
    transform: rotate(90deg);
}
.social li{
	display: inline-block;
}
.social a{
	font-size: 10px;
}
.materials{
	display: block;
	width: 1000px;
}
.intro{
	display: inline-block;
	width: 400px;
	height: 343px;
	padding-left: 100px;
	padding-top: 56px;
}
.intro-header{
	font-family: Merriweather, sans-serif;
	font-weight: 900;
	color: #222F33;
	font-size: 30px;
	line-height: 38px;
}
.intro-text{
	width: 400px;
	height: 156px;
	line-height: 26px;
	color: #646D70;
	padding-top: 10px;
}
.read-more{
	margin-top: 41px;
	width: 90px;
	height: 34px;
  	background-color: #FFFFFF;
  	text-align: center;
  	line-height: 33px;
  	cursor: pointer;
  	border: 1px solid #646D70;
  	border-radius: 4px;
}
.read-more a{
	color: #606B74;
	font-size: 12px;
	text-decoration: none;
}
div.img{
	position: absolute;
	display: inline-flex;
	padding-left: 57px;
	padding-top: 0px;
}
.slider{
	position: absolute;
	display: flex;
	padding-left: 147px;
	padding-top: 372px;
}
.dot{
	display: flex;
	height: 8.71px;
  	width: 8.71px;
  	background-color: #FFFFFF;
  	border-radius: 50%;
  	margin-left: 8.71px;
  	opacity: 0.4;
}
.dot:nth-child(1){
	opacity: 1;
	margin-left: 0;
}	
.about{
	width: 1000px;
	height: 313px;
	background-color: #222F33;
	display: block;
}
.about-info{
	padding-top: 66px;
	padding-left: 100px;
}
.about-header{
	font-family: Merriweather, sans-serif;
	font-weight: 900;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 38px;
}
.about-text div{
	display: inline-block;
	padding-top: 11px;
	width: 380px;
	height: 120px;
	line-height: 24px;
	opacity: 0.7;
}
.about-text div:nth-child(2){
	margin-left: 43px;
}
.usp{
	display: block;
	height: 532px;
	background-color: #FFFFFF;
}
.usp-img{
	float: left;
	padding-top: 85px;
	padding-left: 100px;
}
.article{
	display: inline-block;
	width: 370px;
	height: 353px;
	padding-top: 89px;
	padding-left: 75px;
}
.article-block{
	width: 180px;
}
.article-block div{
	margin-top: 4px;
}
.title-usp{
	font-family: Merriweather, sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 23px;
	color: #222F33;
}
.text-usp{
	font-weight: 400;
	line-height: 22px;
	color: #646D70;
	opacity: 0.7;
}
.row-article{
	display: inline-flex;
}
.article-block:nth-child(2n){
	float: right;
	margin-left: 60px;
}
.row-article:not(:first-child) {
    margin-top: 37px;
}
footer{
	background-color: #222F33;
	height: 88.4px;
}
footer a{
	opacity: 0.6;
	font-size: 12px;
}
.email{
	padding-top: 40px;
	padding-left: 50px;
	float: left;
}
.footer-logo{
	padding-top: 33px;
	padding-left: 257px;
	float: left;
}	
.cookies{
	display: inline-flex;
	padding-top: 40px;
	padding-left: 227px;
}
.privacybeleid{
	display: inline-flex;
	padding-top: 40px;
	padding-right: 50px;
	float: right;
}